<div id='add_comment_form_div' class='content'>
{% if parent_comment %}
<h3>You are replying to:</h3>
{% with parent_comment as comment %}
{% with reply_mode="true" %}
    {% include 'blog/comment_inline.html' %}
{% endwith %}
{% endwith %}
{% endif %}
<form id='add_comment_form' method='POST' 
{% if parent_comment %}
    action='{{parent_comment.get_reply_url}}'
{% else %}
    action='{% url comment-create post_slug=post.slug %}'
{% endif %}
>
{% csrf_token %}
{{form.as_p}}
<input type='submit' value='save'>
</form>
</div>