{% extends "base.html" %}

{% block content %}
<h2>{{object.title}}</h2>
<h5> by {{object.owner}} on {{object.created}}
{% if object.owner == request.user %}
	<a href='{{object.get_edit_url}}'>edit</a>
	<a href='{{object.get_delete_url}}'>delete</a>
{% endif %}
</h5>

<p class='post content'>
{{object.content}}
</p>

<div id='comments'>
<h3>Add a comment</h3>
{% with comment_form as form %}
	{% include "blog/comment_form.html" %}
{% endwith %}

<ul>
{% for comment in comments %}
	<li>{% include "blog/comment_inline.html" %}
{% endfor %}
</ul>
</div>
{% endblock content %}