{% extends "base.html" %}

{% block content %}
<div id='title'>
{{object.title}} by {{object.owner}} on {{object.created}}
{% if object.owner == request.user %}
	<a href='{{object.get_edit_url}}'>edit</a>
	<a href='{{object.get_delete_url}}'>delete</a>
{% endif %}

</div>

<div id='content'>
{{object.content}}
</div>

{% with comment_form as form %}
	{% include "blog/comment_form.html" %}
{% endwith %}

{% for comment in object.get_comments %}
	{% include "blog/comment_inline.html" %}
{% endfor %}

{% endblock content %}